
<section class="join m-5 text-center">
<div class="container">

  <h1 class="p-3">WHY JOIN US?</h1>
  <h2 class="p-3">Experienced players all around the world</h2>
</div>
<div class="owl-carousel owl-theme">
    <div><img src="assets/one.jpg"/>  </div>
    <div> <img src="assets/two.jpg"/> </div>
    <div> <img src="assets/three.jpg"/> </div>
    <div><img src="assets/four.jpg"/> </div>
    <div><img src="assets/one.jpg"/> </div>
    <div> <img src="assets/two.jpg"/></div>
    <div><img src="assets/three.jpg"/>  </div>
    <div><img src="assets/four.jpg"/>  </div>
  </div>
  <a href="#"class="btn">Join Our Team »</a>
  <p>Selection on basis of Live Matches!</p>

</section>
<footer class="text-center">© All rights reserved 2019</footer>